body{
    background-color: #e6ffe6;
}

#header{
    text-align: center;
    background-color: greenyellow;
    margin: 4em 12.5% 0px;
    padding: 1em;
    overflow: auto;
}

#header img{
    height: 25px;
}

#header a{
    text-decoration: none;
    color: red;
}

#header a:hover{
    color: darkgreen;
}

#nav{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 74%;
    margin: 0% 12.5%;
}

#nav ul{
    background-color: green;
    text-align: center;
    overflow: auto;
    list-style: none;
    padding: 0px;
}

#nav li {
    float: left;
    width: 33.3%;
    line-height: 2em;
    font-size: 1.5em;
}

#nav li a{
    display: block;
    color: lightgreen;
    text-decoration: none;
}

#nav li a:hover{
    background-color: darkgreen;
}

.selected{
    font-weight: bold;
    background-color: lightgreen;
}

#main{
    margin: 0 12.5%;
    padding: 1em 0em 2em 3em;
    overflow: auto;
    position: relative;
}

#footer{
    background-color: lightgray;
    text-align: center;
    color: slategray;
    font-size: 0.75em;
    padding: 10px;
}

#footer p{
    margin: 5px 0px;
}

#address{
    display: inline-block;
}

#contact{
    display: inline-block;
}
 
#content{
    width: 75%;
    overflow: auto;
}

#sidebar{
    background-color: skyblue;
    float: right;
    border: 1px solid cadetblue;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    height: 90%;
    width: 20%;
    position: absolute;
    right: 0;
    font-family: sans-serif;
    color: darkblue;
    overflow: auto;
}

#sidebar p{
    font-weight: bold;
}

#sidebar li{
    margin: 25%;
}

#sidebar ul{
    list-style: none;
    padding: 0;
}

.required{
    border-color: red;
}

#reg-form input[type="text"], select, fieldset, textarea{
    width: 175px;
}

#reg-form fieldset input[type="text"]{
    width: 95%;
}